<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
		google.charts.load('current', {
			'packages': ['corechart']
		});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('datetime', 'Date');
			data.addColumn('number', 'value');
			data.addColumn({
				type: 'string',
				role: 'annotation'
			});
			data.addColumn({
				type: 'string',
				role: 'annotationText'
			});
			data.addColumn('number', 'movingAverage');
			data.addColumn('number', 'movingAverage2');
			data.addRows({{ data|safe }});

    var options = {
      title: 'Price Chart',
      hAxis: {
        format: 'MMM, dd, yyyy, HH:mm'
      },
      explorer: {
        actions: ['dragToZoom', 'rightClickToReset'],
        axis: 'horizontal',
        maxZoomIn: 100.0
      },
      legend: {
        position: 'bottom'
      }
    };


    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
  }
</script>

</head>

<body>
  <!-- JumboTron -->
  <div class="container">

    <div class="jumbotron">
      <!-- <div class="container"> -->

      <h1 class="display-3">Results </h1>
      <p class="lead">First test for bot trader</p>
      <hr class="my-2">
      <div class="center-block">
        <div id="curve_chart" style="width: 100%; height: 70%"></div>

        <table>
          <tr>
              <th>Field 1</th>
              <th>Field N</th>
          </tr>
          {% for item in data %}
          <tr>
              <td>{{ item.date }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.movAv1 }}</td>
              <td>{{ item.movAv2 }}</td>
          </tr>
          {% endfor %}
      </table>


      </div>

      <!-- </div> -->
    </div>
  </div>

</body>

</html>
